$color-content-bg: #252526;
$color-border: #333333;
$color-border-highlight: #656565;
$color-table-dark-bg: #1e1e1e;
$color-table-dark: #d4d4d4;
$color-highlight-1: #d16969;
$color-highlight-2: #dcdcaa;

.content {
    overflow: scroll;
    background-color: $color-content-bg;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}

.table-dark {
    background-color: $color-table-dark-bg;
    color: $color-table-dark;
}

.my-table-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 10vw;
}

.my-table {
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border: 5px solid $color-border-highlight;
    text-align: center;
}

.my-table thead {
    font-family: initial;
}

.my-table th {
    border: none;
    border-bottom: 3px solid $color-border-highlight !important;
}

.my-table th > div{
    padding-top: .2rem;
    padding-bottom: .3rem;
    line-height: 15px
}
.my-table th:nth-child(2n - 1) > div {
    padding-top: .1rem;
    padding-bottom: .4rem;
}

.my-table :is(tr, td) {
    border-color: $color-border-highlight;
    padding-top: 0;
    padding-bottom: 0;
}

.my-table td {
    width: 4.5rem;
    vertical-align: baseline;
    border: none;
    border-color: $color-border-highlight;
}

.my-table td:first-child() {
    border-left: 2px solid $color-border-highlight;
}

.my-table td:nth-child(2n - 1) {
    border-right: 2px solid $color-border;
}

.my-table td:nth-child(2n):nth-last-child(n+2) {
    width: 6rem;
    border-right: 2px solid #656565;
}

.my-table tr:first-child() td:nth-child(-n+4) {
    border-bottom: 5px solid;
}

.highlight-1 {
    color: $color-highlight-1;
}

.highlight-2 {
    color: $color-highlight-2;
}